<app-navbar-style-three></app-navbar-style-three>

<div class="page-title-area page-title-img-three" style="background:
url('assets/img/delivery.png') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
    <div class="container">
        <div class="page-title-item" >
            <h2>Доставка</h2>
            <ul>
                <li><a routerLink="/">Ништяк</a></li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>Условия доставки</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-location-area pt-100 pb-70" style="background: url('assets/img/fon.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="location-item">
                    <img src="assets/img/home-one/services-shape.png" alt="Location">
                    <i class='bx bxs-time-five'></i>
                    <ul>
                        <li>11:00 до 23:00</li>
                        <li>с Понедельника по Воскресенье</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="location-item active">
                    <img src="assets/img/home-one/services-shape.png" alt="Location">
                    <i class='bx bxs-location-plus'></i>
                    <ul>
                        <li>Московская обл, г.Видное</li>
                        <li>Завидная 4</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="location-item">
                    <img src="assets/img/home-one/services-shape.png" alt="Location">
                    <i class='bx bxs-phone-call'></i>
                    <ul>
                        <li><a href="tel:+79952995820">+7(995)2995820</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="contact-form-area ptb-100">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="contact-item">-->
<!--                    <form id="contactForm">-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-6 col-lg-12">-->
<!--                                <div class="form-group">-->
<!--                                    <input type="text" name="name" id="name" class="form-control" required placeholder="Name">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-sm-6 col-lg-12">-->
<!--                                <div class="form-group">-->
<!--                                    <input type="email" name="email" id="email" class="form-control" required placeholder="Email">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-sm-6 col-lg-12">-->
<!--                                <div class="form-group">-->
<!--                                    <input type="text" name="phone_number" id="phone_number" required class="form-control" placeholder="Phone">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-sm-6 col-lg-12">-->
<!--                                <div class="form-group">-->
<!--                                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Subject">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-md-12 col-lg-12">-->
<!--                                <div class="form-group">-->
<!--                                    <textarea name="message" class="form-control" id="message" cols="30" rows="6" required placeholder="Message"></textarea>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-md-12 col-lg-12">-->
<!--                                <button type="submit" class="cmn-btn btn">Send Message</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->

<!--                    <div class="contact-social">-->
<!--                        <span>Follow Us on</span>-->

<!--                        <ul>-->
<!--                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>-->
<!--                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>-->
<!--                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>-->
<!--                            <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-lg-6">-->
<!--                <div class="contact-img">-->
<!--                    <img src="assets/img/contact-man.png" alt="Contact">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<app-footer-style-one></app-footer-style-one>
